/* @import "~ng-zorro-antd/ng-zorro-antd.min.css"; */

body {
  margin: 0 !important;
  padding: 30px;
  width: 100vw;
  overflow-x: hidden;
  /* background-color: rgb(221, 230, 236) !important; */
}

.ant-breadcrumb-separator {
  color: white !important;
}

.bar {
  position: absolute;
  top: 10vh;
  display: block;
  margin: 0 auto;
  width: 50vw;
  left: 25vw;
  color: white;
  border-radius: 3px;
  padding: 10px 25px;
  text-align: center;
}

.errorBar {
  background-color: rgb(255, 0, 98);
}

.successBar {
  background-color: rgb(60, 179, 14);
}
